<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="Fr-fr">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}FACTURE {{p.Fname|upper}}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
        
        </style>
        {% block javascript %}{% endblock %}
    </head>
    <body>
    {% block body %}
    
    {% endblock %}
    {% block footer %}{% endblock %}        
    </body>
</html>