body div a img{width: 25px;height: 25px;}
/*body div.container.mt-5.mb-5 {
   background-image: url(/img/IMG-0676.jpg);
   background-image:cover;
    background-position:center center;
    background-size: 100% 100%;
color: rgb(47, 41, 41);}*/
body div.container div div img{width: 450px;height: 450px;}