img,a.img{
  width: 25px;
  height: 25px;
}
#cv{
  margin-left:3%;
  width: 95%;
  height: 95%;}
#bl{
  width: 8px;
  height: 10px;
}
#ph{
  width: 17px;
  height: 17px
}
.error{
   color: red;
   font-style:italic;
   display: inline;
}
.alert{
  margin-top:15px ;
}
#new{
  display:inline-block;
  margin-top: 0px
}
#list{
  display:inline-block;
  margin-top: 30px
}
body div.container div div img{
  width: 450px;
  height: 450px;
}
body div div div .fs-3{
  color:red ;
}
body #cmd_Qte, #cmd_aCmd{
  width: 115px
}
#project_DateSortie{width: 38%;} 
#cmd_Pu,#cmd_DtCmd{
  width: 175px
}
.corps{
  width: 298px;
  color: rgb(168, 180, 189);
}
#form-body{
  margin-left: 50px;
}
#project_Version{
  width: 30%}
#mydev{width: 80%;height: 80%; align-content: center;
}
#dma img{
  height: 25px;
  width: 25px
}
div.container{
      margin-top: 20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body{
  background-color: #051725;
}
#logineye{
  position:absolute;
  display: block;
  margin-top: -27px;
  right: 44px;
  font-size: 15px;
  cursor: pointer;
}
#logineye.active::before{
  content: "\f070";
}
div.slugdev-title{
      height: 80%;
      padding: 16em;
      background-size: cover;
      background-position: center center;
}
div.slugdev-title h1, div.slugdev-title p{
      color: rgb(168, 163, 163);
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#form-body{
  background: rgb(109, 109, 109)
}
#profil-home{
  width: 95%;
  height: 95%;
}
.fa-trash{
  color: rgb(221, 14, 14);
}
.fa-user-pen{
  color: rgb(46, 146, 46);
}
#editlogos img{
  width: 150px;
  height: 150px;
}
#fact{
  color: rgb(18, 180, 42);
}
#mens{
  color: rgb(106, 108, 113);
}
#annu{
  color: rgb(220, 24, 142);
}
#profilhome{
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
  background-color: #081b29;
}
#login{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  background: transparent;
  border: 2px solid #0ef;
}
#login .form-group input{
  width: 100%;
  background: #fff;
}

.tr{
  border:2px solid red
}
.tg{
  border:2px solid green
}
.tb{
  border:2px solid black
}
.tw{
  border:2px solid transparent
}
#printlogo{
  width: 8%;height: 8%;
}